<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="3">
    <test verbose="2" name="Parallel Tests Suite">
        <classes>
            <class name="tests.AuthorizationTest"/>
        </classes>
    </test>
</suite>
